body {
  margin: 0;
  padding: 0;
  height: 100%;
  transform-style: preserve-3d;
  background-color: #000;
  background-image: 
    radial-gradient(white, rgba(255, 255, 255, .2) 2px, transparent 40px), 
    radial-gradient(white, rgba(255, 255, 255, .15) 1px, transparent 30px), 
    radial-gradient(white, rgba(255, 255, 255, .1) 2px, transparent 40px), 
    radial-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .1) 2px, transparent 30px);
  background-size: 
    550px 550px, 
    350px 350px, 
    250px 250px, 
    150px 150px;
  background-position: 
    0 0, 
    40px 60px, 
    130px 270px, 
    70px 100px;
    

  
}

#wrapper {
/*    margin: 30px auto;*/
/*	padding: 100px 20px;*/
	width: 85%;
	border-radius: 5px;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #E5E5E5 #DBDBDB #D2D2D2;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
#device { 
    display: block; 
    position: relative; 
    padding-bottom: 20px;
/*    margin: 20px 0px;*/
}
#keyboardTray { 
    z-index:10px; 
    position: relative;
}
#topLedShade {
	width:80%; 
    margin: 0px auto; 
    height: 8px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(175,175,175,1)), color-stop(100%,rgba(241,241,241,1)));
	border-top-right-radius: 10% 100%;
	border-top-left-radius: 10% 100%;
	

	}
#topLed { 
	width:80%; margin: 0px auto 2px auto; height: 5px;
	background: -webkit-gradient(linear, left top, right top, 
	color-stop(0%,rgba(241,241,243,1)), 
	color-stop(1%,rgba(247,247,247,1)), 
	color-stop(5%,rgba(175,175,175,1)), 
	color-stop(10%,rgba(236,236,238,1)), 
	color-stop(90%,rgba(236,236,238,1)), 
	color-stop(95%,rgba(175,175,175,1)), 
	color-stop(99%,rgba(247,247,247,1)), 
	color-stop(100%,rgba(241,241,243,1))); 
	box-shadow: 4px 0px 4px -4px rgba(0,0,0,0.9) inset , -4px 0px 4px -4px rgba(0,0,0,0.9) inset ;
	border-radius: 1px;
}
#keyboard { 
	width:80%; margin: 0px auto; height: 16px;
	background: -webkit-gradient(linear, left top, right top, 
	color-stop(0%,rgba(241,241,243,1)), 
	color-stop(1%,rgba(247,247,247,1)), 
	color-stop(5%,rgba(175,175,175,1)), 
	color-stop(10%,rgba(236,236,238,1)), 
	color-stop(90%,rgba(236,236,238,1)), 
	color-stop(95%,rgba(175,175,175,1)), 
	color-stop(99%,rgba(247,247,247,1)), 
	color-stop(100%,rgba(241,241,243,1))); 
	box-shadow: 4px 0px 4px -4px rgba(0,0,0,0.9) inset , -4px 0px 4px -4px rgba(0,0,0,0.9) inset, 0px -3px 0px -2px rgba(0,0,0,0.5) , 0px -4px 0px -2px rgba(0,0,0,0.6);
	border-top:1px #cdcdd3 solid;
	border-bottom:1px #cdcdd3 solid;
}
#keyPad {
	width:12%; margin: -1px auto 0px; height: 11px;
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(158,159,166,1)), color-stop(10%,rgba(215,216,220,1)), color-stop(90%,rgba(215,216,220,1)), color-stop(100%,rgba(158,159,166,1)));
	border-bottom-right-radius: 10% 100%;
	border-bottom-left-radius: 10% 100%;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3) inset;
	}
#keyboardShade {
	width:80%; margin: 0px auto; height: 11px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(149,149,157,1)), color-stop(100%,rgba(155,155,155,1)));
	border-bottom-right-radius: 6% 100%;
	border-bottom-left-radius: 6% 100%;
	box-shadow: 0px -4px 10px rgba(0,0,0,0.5) inset, 0px 4px 10px -10px rgba(0,0,0,0.5);

	}
	
#keyboardTrayShadow { margin-top: -1px; z-index:10px; position: relative;}
#keyboardShadow { 
	width:80%; margin: 0px auto; height: 18px;
	background: -moz-linear-gradient(left, rgba(100,100,100,1) 0%, rgba(255,255,255,1) 2%, rgba(255,255,255,1) 2%, rgba(216,215,214,1) 8%, rgba(247,249,247,1) 50%, rgba(219,217,217,1) 93%, rgba(240,241,243,1) 98%, rgba(107,107,107,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(109,110,114,1)), color-stop(3%,rgba(255,255,255,1)), color-stop(8%,rgba(216,215,214,1)), color-stop(50%,rgba(247,249,247,1)), color-stop(93%,rgba(219,217,217,1)), color-stop(98%,rgba(240,241,243,1)), color-stop(100%,rgba(107,107,107,1))); /* Chrome,Safari4+ */
	box-shadow: 0px -1px 1px rgba(0,0,0,0.3); opacity:0.1;
}
#keyboardShadowOverlay { position: absolute ; width:80%; left: 25px; top:20px; height: 20px; 
	background: -moz-linear-gradient(top, rgba(255,255,255,0.1), rgba(255,2555,255,1));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.1), rgba(255,2555,255,1));
	} 
#keyboardShadeShadow {
	width:80%; margin: 0px auto; height: 10px;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.1), rgba(225,225,225,0.2));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.1), rgba(225,225,225,0.2));
	border-top-right-radius: 8% 100%;
	border-top-left-radius: 8% 100%;
	}
a {
  text-decoration: none;
  color: inherit;
  z-index: 100;
}

nav {
  position: relative;
  display: block;
  width: 15em;
  height: 15em;
  margin-left:42%;
  margin-top: 9em;
  text-align: center;
  background: #003427;
  border-radius: 100%;
    z-index: 10000;
}
.welcome{
    padding-top: 80px;
}
.item {
  position: absolute;
  display: block;
  background: yellow;
  width: 6.6em;
  height: 6.6em;
  border-radius: 100%;
  margin-top: -15.5em;
  right: 30%;
  -webkit-transform-origin: 3.3em 13.2em;
  -moz-transform-origin: 3.3em 13.2em;
  -ms-transform-origin: 3.3em 13.2em;
  -o-transform-origin: 3.3em 13.2em;
  transform-origin: 3.3em 13.2em;
  -webkit-animation: rotate 2.5s linear 0s 0.8 normal both;
  -moz-animation: rotate 2.5s linear 0s 0.8 normal both;
  animation: rotate 2.5s linear 0s 0.8 normal both;
  z-index: -1;
}

#page1 {
  background: #00674d;
}

#page2 {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
  background: #008060;
  -webkit-animation-iteration-count: 0.6;
  -moz-animation-iteration-count: 0.6;
  animation-iteration-count: 0.6;
}

#page3 {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
  background: #009a73;
  -webkit-animation-iteration-count: 0.4;
  -moz-animation-iteration-count: 0.4;
  animation-iteration-count: 0.4;
}

#page4 {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
  background: #00b386;
  -webkit-animation-iteration-count: 0.2;
  -moz-animation-iteration-count: 0.2;
  animation-iteration-count: 0.2;
}

#page5 {
  background: #00cd99;
}

#page5, #page5 span {
  -webkit-animation: grow 0.5s linear 1.6s 1 normal both;
  -moz-animation: grow 0.5s linear 1.6s 1 normal both;
  animation: grow 0.5s linear 1.6s 1 normal both;
}

/* Spin text the opposite way to keep it upright */
nav a span {
  position: absolute;
  display: block;
  line-height: 6.6em;
  width: 6.6em;
  text-align: center;
  -webkit-animation: inherit;
  -moz-animation: inherit;
  animation: inherit;
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  animation-direction: reverse;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

a.item, a.item span {
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

a.item:hover, a.item:hover span {
  cursor: pointer;
  color: yellow;
  font-weight: bold;
  height: 7em;
  width: 7em;
  line-height: 6.8em;
}

/* Keyframes */
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: scale(0.1) rotate(0deg);
  }
  15% {
    -webkit-transform: scale(0.76) rotate(60deg);
  }
  20% {
    -webkit-transform: scale(1) rotate(72deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(360deg);
  }
}
@-moz-keyframes rotate {
  0% {
    -moz-transform: scale(0.1) rotate(0deg);
  }
  15% {
    -moz-transform: scale(0.76) rotate(60deg);
  }
  20% {
    -moz-transform: scale(1) rotate(72deg);
  }
  100% {
    -moz-transform: scale(1) rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: scale(0.1) rotate(0deg);
    -moz-transform: scale(0.1) rotate(0deg);
    -ms-transform: scale(0.1) rotate(0deg);
    -o-transform: scale(0.1) rotate(0deg);
    transform: scale(0.1) rotate(0deg);
  }
  15% {
    -webkit-transform: scale(0.76) rotate(60deg);
    -moz-transform: scale(0.76) rotate(60deg);
    -ms-transform: scale(0.76) rotate(60deg);
    -o-transform: scale(0.76) rotate(60deg);
    transform: scale(0.76) rotate(60deg);
  }
  20% {
    -webkit-transform: scale(1) rotate(72deg);
    -moz-transform: scale(1) rotate(72deg);
    -ms-transform: scale(1) rotate(72deg);
    -o-transform: scale(1) rotate(72deg);
    transform: scale(1) rotate(72deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(360deg);
    -moz-transform: scale(1) rotate(360deg);
    -ms-transform: scale(1) rotate(360deg);
    -o-transform: scale(1) rotate(360deg);
    transform: scale(1) rotate(360deg);
  }
}
@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(0.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes grow {
  0% {
    -moz-transform: scale(0.1);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@keyframes grow {
  0% {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}